<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Run "Varian service Portal" and copy what appears after "https://" for "GetYourServerName:PortNumber" below-->
    <add key="GatewayRestUrl" value="https://GetYourServerName:PortNumber/Gateway/service.svc/interop/Rest/Process"/>
  </appSettings>
</configuration>
